<!DOCTYPE html>
<html lang="en">
  <head>
   <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
   <%= javascript_include_tag "application" %>
   <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Arbutus::latin', 'Loved+by+the+King::latin', 'Fresca::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<!--     <%# if current_user %>
      Welcome <%#= current_user.name %>!
      <%#= link_to "Sign Out", signout_path %>
    <%# else %>
      <%#= link_to "Sign in with Rdio", "/auth/rdio" %>
    <%# end %>
 -->
    <%= render 'layouts/nav' %> 
    <%= yield %>
</div>
</body>

</html>
