<!DOCTYPE html>
<html lang="en">
  <head>
   <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Arbutus::latin', 'Loved+by+the+King::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="off-canvas-wrap">
      <div class="inner-wrap">

        <a class="left-off-canvas-togger"> <Menu></a>

        <aside class="left-off-canvas-menu">
          <ul>
            <li><a href="#"> Challenges </a></li>
            <li><a href="#"> Create </a></li> 
            <li><a href="#"> Scoreboard </a></li>
          </ul>
        </aside>
          <%= yield %>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
</div>
  </body>
</html>